* {
    font-family: 'Archivo';
    color: #555555
}

.pointer {
    cursor: pointer;
}

.wrap {
    white-space: pre-wrap;
}

.error-label {
    color: red;
    font-size: small;
}

div.image-preview {
    display: none;
}

img.image-preview {
    border-radius: 10%;
    margin: 5px;
}

.img-large {
    border-radius: 5%;
    max-height: 400px;
    min-height: 100px;
    height: 100%;
    max-width: 400px;
    min-width: 100px;
    height: 100%;
}

.img-medium {
    border-radius: 5%;
    max-height: 150px;
    max-width: 130px;
    min-height: 100px;
    height: 100%;
    weight: 100%;
}

.img-small {
    margin-bottom: 5px;
    border-radius: 10%;
    max-height: 100px;
    height: 100%;
    max-width: 100px;
    width: 100%;
}

.vscroll {
    overflow-y: auto;
    overflow-y: scroll;
}

.box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
}

.flex-multiline {
    display: flex;
    flex-wrap: wrap;
}

.vflex {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.flex-item {
    flex: initial;
    flex-basis: auto;
    padding: 2px;
    margin: 2px;
    flex-grow: 1;
}

.same-line {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.new-line {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.div-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    border-style: solid;
    padding: 10px;
    box-sizing: border-box;
}

fieldset {
    min-inline-size: min-content;
    border-width: 5px;
    border-color: #dddddd;

}

legend {
    font-size: 15px;
    font-weight: bold;
    width: auto;
    padding-inline-start: 5px;
}

.form-text-field {
    border-style: none;
    border-radius: 5px;
    background-color: #eeeeee;
    border-left-color: #555555;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    float: left;
    text-align: left;
    justify-content: flex-start;
}

.right {
    float: right;
    justify-content: right;
    text-align: right;
}

.app {
    padding: 10px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #1F1B24;
}


@media screen and (min-width: 1000px) {
    .login {
        padding: 20px;
        width: 30%;
        height: 100%;
        background-color: #212529;
    }
}

@media screen and (max-width: 1000px) {
    .login {
        padding: 20px;
        width: 80%;
        height: 100%;
        background-color: #212529;
    }
}

form.login {
    width: 100%;
    height: 100%;
}

div.login {
    border-radius: 20px;
}

@media screen and (min-width: 600px) {
    .shortener {
        margin: 20px;
        width: 60%;
        height: 100%;
        background-color: #212529;
    }
}

@media screen and (max-width: 600px) {
    .shortener {
        margin: 10px;
        width: 90%;
        height: 100%;
        background-color: #212529;
    }
}

form.shortener {
    margin: 30px;
    width: 100%;
    height: 100%;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 90%;
    top: 70px;
    font-size: 17px;
    color: black;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.6s, fadeout 0.6s 2.5s;
    animation: fadein 0.6s, fadeout 0.6s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 70px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 70px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

.orange {
    color: orange;
}

.grey {
    color: grey;
}

.white {
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

.short {
    border-radius: 20px;
    display: inline-block;
    box-shadow: 6px 6px 10px rgba(50, 50, 50, 0.75);
}

.rail {
    overflow: scroll;
    overflow-x: scroll;
    white-space: nowrap;
}

.railml {
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
}

.inline {
    display: inline-block;
}